.access_login_container {
  width: 100%;
  min-width: 1200px;
  // height: 1080px;
  // min-height: 1080px;
  position: relative;
  text-align: right;



  .bg {
    display: block;
    width: 100%;
    height: 100vh;
    // background-image: url("../image/access/login_bg_00000.jpg");
    // background-size: cover;
    position: absolute;

    .top {
      width: 100%;
      // height: calc(100vh - 300px);
      height: 23.5rem;
      background-color: #0078A9;
      position: relative;

      >img {
        display: block;
        width: 43rem;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .title {
        margin: 0px auto 30px auto;
        text-align: center;
        color: #707070;
      }

      .logo {
        padding: 4.5rem 0 0 0;
        width: 25rem;
        height: 100%;
        // min-height: 530px;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 4rem;

        // box-sizing: unset;
        img {
          display: inline-block;
          margin: 0 30px 0 0;
          width: 3rem;
          vertical-align: middle;
        }

        h1 {
          display: inline-block;
          vertical-align: middle;
          font-size: 2.1rem;
          color: #fff;
          font-weight: bolder;
          letter-spacing: 3px;
        }
      }
    }

    .footer {
      display: block;
      position: absolute;
      left: 2.6rem;
      bottom: 2rem;
      text-align: left;

      .slogan {
        margin: 0 0 3.5rem 0;
        font-size: 45px;
        // font-weight: bold;
        font-family: "alipuhuiti-regular";
      }

      .copyright {
        color: #999999;
        font-size: 14px;
      }
    }
  }

  .main {
    width: 100%;
    height: 100vh;



    .login_wrapper {
      display: inline-block;
      height: 100vh;
      vertical-align: middle;
      position: relative;
      right: 4rem;

      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
      }



      .loginform {
        padding: 1.75rem 2.5rem;
        width: 20.5rem;
        max-width: 520px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 10px;
        background: #ffffff;
        position: relative;
        top: 60px;
        font-size: 0.75rem;
        font-weight: lighter;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);

        .title {
          margin: 0 0 2.5rem 0;
          letter-spacing: 3px;
          text-align: left;
          font-size: 0.9rem;
          font-weight: bold;
        }

        .el-form-item {
          margin: 0 0 35px 0;

          &.rememberme {
            text-align: left;

            .el-checkbox__label {
              color: #0078A9;
              font-weight: bold;
            }
          }

          &.verificationcode {
            .el-form-item__content {
              display: flex;

              .el-input {
                display: inline-block;
                width: 50%;
                vertical-align: middle;

                .el-input__inner {
                  padding-left: 1rem;
                }
              }

              .codeimage {
                display: inline-block;
                padding: 0 0 0 2rem;
                height: 2.1rem;
                vertical-align: middle;

                &:before {
                  content: '';
                  display: inline-block;
                  height: 100%;
                  vertical-align: middle;
                }

                img {
                  display: inline-block;
                  width: 100%;
                  height: 80%;
                  vertical-align: middle;
                }

                flex: 1;
              }
            }
          }

          .el-input {
            height: 2.1rem;

            input {
              display: inline-block;
              height: 100%;
              font-size: 0.7rem;
              vertical-align: middle;
            }

            .el-input__inner {
              padding-left: 55px;
              border-style: solid;
              border-color: #E2E2E2;
              border-radius: 30px;
            }

            .el-input__prefix {
              &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
              }

              width: 55px;
              text-align: center;
              left: 0;

              .icon {
                display: inline-block;
                // height: 39px;
                width: 20px;
                margin-left: 2px;
                vertical-align: middle;
              }
            }
          }
        }

        .rememberme {
          margin: 10px 0 40px 0;
        }

        .operation {
          margin: 0;
          width: 100%;

          .el-button {
            padding: 0.7rem 0;
            width: 100%;
            border-radius: 35px;
            background-color: $blue;
            span {
              font-size: 0.8rem;
              letter-spacing: 3px;
            }
          }
        }
      }
    }

  }



}

.access_404_container {
  height: calc(100vh - 220px);

  .main {
    width: 100%;
    height: 100%;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      margin: 0 120px 0 0;
      width: 443px;
      height: 340px;
      vertical-align: middle;
    }

    .desc {
      display: inline-block;
      vertical-align: middle;
      text-align: left;

      h1 {
        font-size: 100px;
        font-weight: bolder;
        font-family: 'alipuhuiti-regular';
        // font-family: 'microsoft yahei';
        color: #434E59;
      }

      p {
        margin: 5px 0 18px 0;
        color: #848586;
        // opacity: 0.45;
        font-size: 20px;
      }
    }
  }
}
