.common_main_container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  position: relative;
}

.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;

  &.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    .icon {
      width: 13px;
    }

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }

  .router-link-active {
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
    // overflow: auto;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      // box-shadow: 0 5px 10px #000;
      // box-shadow: 0 2px 10px #000;
      z-index: 2;
    }

  }

  &.el-menu--collapse {

    .el-menu-item {
      text-align: center;
    }

    .el-menu-item {
      .icon {
        width: 13px;
      }

      span {
        display: none;
      }
    }

    .el-submenu {
      min-width: 100%;

      .el-submenu__title {
        text-align: center;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

  }

  .el-menu-item,
  .el-submenu__title {
    height: 45px;
    line-height: 45px;

    &:hover,
    &.is-active {
      background-color: $menuHover !important;
    }

    &.is-active {
      // box-shadow: 0 2px 10px #000;
    }

    .icon {
      display: inline-block;
      margin: 0 5px 0 0;
      width: 13px;
      opacity: 1;

    }
  }

  .el-menu-item {
    span {
      opacity: 1;
    }
  }

  .el-submenu__title {
    .el-submenu__icon-arrow {
      color: #fff;
    }
  }

  .el-submenu {
    &.is-active {
      .router-link-active {
        .icon {
          opacity: 1;
        }

        span {
          opacity: 1;
        }
      }
    }

    .el-submenu__title {
      span {
        opacity: 1;
      }

      .icon {
        opacity: 1;
      }
    }

    .el-menu-item {
      span {
        opacity: 0.65;
      }

      .icon {
        opacity: 0.65;
      }
    }

  }
}

.el-menu--vertical {
  &.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    .icon {
      width: 13px;
    }

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}




.sidebar-container {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  background-color: $menuBg;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;

  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }

  .el-scrollbar__bar.is-vertical {
    right: 0px;
  }

  &.has-logo {
    .el-scrollbar {
      height: calc(100% - 50px);
    }
  }

  .is-horizontal {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .svg-icon {
    margin-right: 16px;
  }

  // menu hover
}

.hideSidebar {
  .sidebar-container {
    width: 70px !important;
  }

  .common_main_container {
    margin-left: 70px;
  }

  .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative;

    .el-tooltip {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }
    }
  }

  .el-submenu {
    overflow: hidden;

    &>.el-submenu__title {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .el-submenu__icon-arrow {
        // display: none;
      }
    }
  }

  .el-menu--collapse {
    .el-submenu {
      width: 100%;

      &>.el-submenu__title {
        img {
          width: 13px;
        }

        &>span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: none;
        }
      }
    }
  }
}


// mobile responsive
.mobile {
  .common_main_container {
    margin-left: 0px;
  }

  .sidebar-container {
    transition: transform 0.28s;
    width: $sideBarWidth !important;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sideBarWidth, 0, 0);
    }
  }
}

.withoutAnimation {

  .common_main_container,
  .sidebar-container {
    transition: none;
  }
}

// collapsed menu
